[submodule "dotfiles-rsync/dotfiles/oh-my-zsh"]
	path = dotfiles-rsync/dotfiles/oh-my-zsh
	url = git@github.com:changyukang/oh-my-zsh.git
[submodule "dotfiles-rsync/dotfiles/z"]
	path = dotfiles-rsync/dotfiles/z
	url = git@github.com:changyukang/z.git
